services:
    commands-service:
        build:
            context: .
            dockerfile: Dockerfile
        image: commands-service
        container_name: commands-service
        volumes:
            - ./:/app
        ports:
            - "3005:8080"
        environment:
            - NODE_ENV=development
            - PORT=8080
        networks:
            - good-food

    nginx:
        image: nginx:1-alpine
        container_name: commands-nginx
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
        ports:
            - "8085:80"
        depends_on:
            - commands-service
        networks:
            - good-food

networks:
    good-food:
        external: true
