services:
  commands-service:
    build:
      context: ./
      dockerfile: Dockerfile
      target: development
    image: commands-service
    container_name: commands-service
    restart: unless-stopped
    volumes:
      - ./src:/app/src
      - ./prisma:/app/prisma
      - ./package.json:/app/package.json
      - ./tsconfig.json:/app/tsconfig.json
      - /app/node_modules
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - PORT=8080
      - PGHOST=commands-postgres
      - DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@commands-postgres:5432/${DATABASE_DB}
    depends_on:
      - commands-postgres
    networks:
      - good-food

  commands-postgres:
    image: postgres:15
    container_name: commands-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_DB}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - good-food
  # nginx:
  #   image: nginx:1-alpine
  #   container_name: commands-nginx
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/nginx.conf
  #   ports:
  #     - "8084:80"
  #   depends_on:
  #     - commands-service
  #   networks:
  #     - good-food

networks:
  good-food:
    driver: bridge

volumes:
  pg_data:
    driver: local
